# The type of database you are using (PostgreSQL in this example)
DB_ENGINE=django.db.backends.postgresql
# The actual name of your database
DB_NAME=my_awesome_project_db
# The username you use to log into your database
DB_USER=postgres
# Your database password
DB_PASSWORD=my_super_secret_password
# Where the database lives. 'localhost' means it is on your own computer.
DB_HOST=localhost
# The port number. 5432 is the default for PostgreSQL.
DB_PORT=5432
# Your secret key. Make up a long, random string of characters for this.
SECRET_KEY=django-insecure-my-super-secret-key-goes-here
# Set to True for your own computer, but False when you put it on the internet
DEBUG=True
# A comma-separated list of domain names your site is allowed to use
ALLOWED_HOSTS=localhost,127.0.0.1 