<nav class="navbar">
  <h2>💳 Expense Tracker</h2>
  <div class="nav-links">
    {% if user.is_authenticated %}
    <span>Welcome, <strong>{{ user.username }}</strong></span>
    <a href="{% url 'user_dashboard' %}">Dashboard</a>
    {% if user.role == 'MODERATOR' or user.role == 'ADMIN' %}
    <a href="{% url 'moderator_dashboard' %}">Manager Area</a>
    {% endif %}
    <form action="{% url 'logout' %}" method="post" class="logout-form">
      {% csrf_token %}
      <button type="submit" class="logout-btn">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'info' %}">About Us</a>
    <a href="{% url 'contact' %}">Contact Us</a>
    {% endif %}
  </div>
</nav>
