{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3>You can create your expenses here and control your budget.</h3>
  <a href="{% url 'quick_create' %}" class="button">Quick Create Expense</a>
  <form
    action="{% url 'quick_create' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" step="0.01" required />

    <label for="category">Category:</label>
    <input type="text" name="category" id="category" required />

    <label for="date">Date:</label>
    <input type="date" name="date" id="date" required />

    <button type="submit">Create Expense</button>
  </form>

  <p>back to <a href="{% url 'user_dashboard' %}">dashboard</a></p>
</div>

{% endblock %}
